.builder{display:flex;flex-direction:column;height:calc(100vh - 50px)}
.blayout{display:flex;flex:1;overflow:hidden}
.center{flex:1;min-width:200px;display:flex;flex-direction:column;overflow:hidden}
